version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - AWS_REGION=${AWS_REGION:-eu-central-1}
      - NEO4J_CONNECTION_PARAM=${NEO4J_CONNECTION_PARAM:-/org-chart/neo4j_connection_string}
      - API_KEY_PARAM_PATH=${API_KEY_PARAM_PATH:-/org-chart/api-keys}
    depends_on:
      - neo4j

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  neo4j:
    image: neo4j:5
    environment:
      NEO4J_AUTH: "neo4j/testpassword"
    ports:
      - "7474:7474"
      - "7687:7687"
